.climate-table {
    border-collapse: collapse;
}

.climate-table th, td {
    border: 1px solid black;
}

.climate-table td {
    width: 42px;
    text-align: right;
    padding: 4px;
}

.climate-table td.row-header {
    width: 120px;
    text-align: center;
}

.climate-table .comfort-0 {
    background-color: purple;
    color: white;
}

.climate-table .comfort-1 {
    background-color: blue;
    color: white;
}

.climate-table .comfort-2 {
    background-color: rgb(48, 105, 165);
    color: white;
}

.climate-table .comfort-3 {
    background-color: #70B8CA;
}

.climate-table .comfort-4 {
    background-color: lightcyan;
}

.climate-table .comfort-5 {
    background-color: lightgreen;
}

.climate-table .comfort-6 {
    background-color: green;
    color: white;
}

.climate-table .comfort-7 {
    background-color: #D4EB40;
}

.climate-table .comfort-8 {
    background-color: orange;
}

.climate-table .comfort-9 {
    background-color: red;
}

.climate-table .precipitation-0 {
    background-color: #ffd987;
}

.climate-table .precipitation-1 {
    background-color: #fbffd1;
}

.climate-table .precipitation-2 {
    background-color: #e9feff;
}

.climate-table .precipitation-3 {
    background-color: #c6d2e3;
}

.climate-table .precipitation-4 {
    color: white;
    background-color: #4d81b5;
}

.climate-table .precipitation-5 {
    color: white;
    background-color: blue;
}

.climate-table .precipitation-6 {
    color: white;
    background-color: navy;
}

.climate-table .precipitation-7 {
    color: white;
    background-color: olive;
}

.climate-table .precipitation-8 {
    color: white;
    background-color: magenta;
}

.climate-table .precipitation-9 {
    color: white;
    background-color: purple;
}

.climate-table .precipitation-10 {
    color: white;
    background-color: maroon;
}