body {
  font-family: sans-serif;
  padding: 4px 20px;
  background-color: lightskyblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.climate-container {
  margin-top: 16px;
  margin-bottom: 24px;
}

.attribution {
  margin-top: auto;
  padding-top: 8px;
  font-size: 12px;
}